.app {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingIcon {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.searchContainer {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.citySearchBar,
.stateSearchBar {
  width: 200px;
}

.stateSearchBar {
  margin-right: 20px;
}

.searchBar {
  width: 400px;
}
